.line-canada {
  background: #fff;

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }

  .bar {
    fill: steelblue;
  }

  .option-text {
    cursor: pointer;
    text-anchor: end;
  }
}

.tooltip {
  background: grey;
  padding: .5rem;
  border-radius: .3rem;
  color: white;
  position: absolute;
  width: 20rem;
  right: 2rem;
  // margin-top: -48rem;
  opacity: 1;
}
